.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px 60px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 339px;
    gap: 20px;
  }
}

.advantages__title {
  margin: 0 0 5px;
  text-transform: uppercase;
  color: $basic_primary;
}

.advantages__subtitle {
  margin: 0 0 34px;
}

.advantages__item-text-block {
  margin: 8px 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.advantages__item-subtitle {
  margin: 0 0 4px;
}
