.preview {
  background-color: $background_flat_white;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient($background_flat_white 76.5%, $basic_white 22.5%);
  }

  @media (min-width: $desktop-width) {
    background:none;
    background-color: $background_flat_white;
  }
}

.preview__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 20px 60px;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 60px 20px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    padding: 30px 0 80px 104px;
    align-items: start;
  }
}

.preview__block.dots1::after {
  content: "";
  display: inline-block;
  width: 184px;
  height: 4px;
  position: absolute;
  left: 619px;
  top: 640px;
  background: linear-gradient(90deg, $basic_primary 30%, $background_flat_white 5%,  $basic_white 30%, $background_flat_white 5%, $basic_white 30%);
}

.preview__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    padding: 150px 0 0 32px;
  }
}

.preview__subtitle {
  margin: 0 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;
    order: -3;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 0 17px 0;
  }
}

.preview__badge {
  margin: 6px 0 4px;
  text-transform: uppercase;
  color: $basic_primary;

  @media (min-width: $tablet-width) {
    order: -4;
    margin: 0 0 4px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 0 3px 0;
  }
}

.preview__text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    order: -2;
    margin: 0 80px 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0 140px 40px 0;
  }
}

.preview__block-price {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
  }
}

.preview__text-price {
  margin: 0 21px 0 7px;
}

.preview__button {
  color: $basic_white;
  padding: 8px 20px;
  background-color: $basic_primary;
  border: none;
  border-radius: 4px;
}

.preview__text-old {
  color: $basic_primary;
}

.preview__button-left {
  width: 20px;
  position: absolute;
  height: 100%;
  top: 0;
  background-image: url("../../icons/arrow_left.svg");
  border: none;
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: $tablet-width) {
    width: 80px;
    background-position: 30px 310px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}

.preview__button-right {
  width: 20px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../../icons/arrow_right.svg");
  border: none;
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: $tablet-width) {
    width: 80px;
    background-position: 30px 310px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}
